.App-header {
  background-color: #000;
  color: #ffff;
  padding: 1px;
}
.App-header h1{
  margin-left: 0.5em;
}
nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav .searchbar-panel{
  background-color: gray;
  color: #ffff;
  padding: 1em;
}

.currency-item{
  margin: 0.7em;
  border: 1px solid;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foreign-currency{
  display: flex;
  align-items: center;
}
